/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    padding: 0 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    background-color: white;
    color: #007d7b;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
    padding: 5px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}

header nav ul a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
}

nav ul a[href="#Top"] {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #007d7b;
    padding: 5px;
    z-index: 20;
    color: #000000;
    background-color: #007d7b;
}

main {
    background-color: white;
}

main h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 15px;
}

main p {
    font-size: 1.25em;
    margin-bottom: 15px;
    padding: 0 5px;
}

figcaption,
label,
input,
small {
    font-size: 1em;
}

#Gallery section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 15px;
}

#Gallery img {
    width: 100%;
}

figure {
    position: relative;
    height: fit-content;
}

figcaption {
    position:absolute;
    width: 100%;
    text-align: center;
    top: 5%;
}

.bottom_text {
    top: 85%;
}

.text_white{
    color: white;
}

#Contact {
    background-color: #000000;
    color: #ffff;
    padding: 20px;
}

#Contact p {
    text-align: center;
}

#Contact form {
    padding: 0 15px;
}

label, input {
    display: block;
    font-size: 1em;
    width: 100%;
    margin-bottom: 3px;
    text-transform: uppercase;
}

input {
    margin-bottom: 15px;
    color: #007d7b;
    border: #ffff;
    padding: 5px;
}

input::placeholder {
    color: #007d7b;
}

input[type="submit"] {
    width: 60%;
    background-color: #007d7b;
    color: white;
    border: #007d7b;
    margin: auto;
    border-radius: 10px;
}

footer {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

@media(min-width:486px) {

    main,header {
        width: 80%;
        margin: auto;
    }


    #Gallery section {
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    #Contact form {
        width: 90%;
        margin: auto;
    }
}

@media(min-width:881px) {
    header nav ul {
        justify-content: flex-end;
    }
    #Gallery section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

